.first_container {
    overflow: hidden; /* Prevents content from going out of the page */
    margin: 0 auto;
    padding: 0 2vw;
    margin-top: 21vh;
    gap: 2vh; /* Use gap for spacing */
}

.content_container {
    max-width: 1300px;
    margin: 0 auto; /* Center the container */
    padding: 0 2vh; /* Use padding to prevent overflow */
    top: 0;
}

.first_container .ProjectTitle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: 425px) {
    .first_container {
        margin-top: 10vh;
        padding: 0 2vh; /* Use padding to prevent overflow */
    }
}

@media (max-width: 375px) {
    .first_container {
        padding: 0 2vh; /* Use padding to prevent overflow */
        /* margin-left: 0; (This is redundant, so it's removed) */
    }
}
