.skill_section {
    margin: 4rem 0;
    position: relative;
    margin-left: 3vw;
    margin-top: 15vh;
    padding: 0 2vw;
}

.skill_section .heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
    text-align: center;
}

.skill_content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin: 0 3vw;
}

.skills {
    flex: 1;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1vh;
}

.skill_info {
    flex: 1;
}

@media (max-width: 1025px) {
    .skills,
    .skill_content {
        grid-gap: 2rem;
    }
}

@media (max-width: 760px) {
    .skill_content {
        flex-direction: column-reverse;
        gap: 2rem;
        margin: 0 4vw;
    }

    .skills,
    .skill_info {
        width: 100%;
        margin: 0;
    }

    .skills {
        grid-template-columns: 1fr 1fr; /* Maintain 2 columns even on smaller screens */
        gap: 1.5rem;
    }

    .skill_section {
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
    }

    .skill_section .heading {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 375px) {
    .skill_section {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
    }

}