.contact_details {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Use 'gap' instead of 'grid-gap' for flex containers */
    padding: 0 2vw; /* Added padding to prevent horizontal overflow */
}

.name_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

form .name_container input {
    width: calc(100% - 1.5rem); /* Adjust width to account for gap */
}

form input,
form textarea {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2vh;
    width: 100%; /* Ensure full width */
}

form button {
    width: 100%;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2vh;
    margin-bottom: 2vh;
    transition: all 0.1s ease;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    color: #ffff;
}

form button:hover {
    font-size: large;
}

@media (max-width: 768px) {
    .name_container {
        flex-direction: column;
        gap: 2rem;
        margin: 0; /* Remove margins */
    }

    form .name_container input {
        width: 100%; /* Ensure inputs take full width */
    }

    form input,
    form textarea,
    form button {
        width: 100%; /* Ensure full width */
    }

    form button {
        margin-bottom: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        padding: 0 2vw; /* Ensure padding is consistent */
    }
}
