.fail_container {
    position: fixed;
    z-index: 1;
    right: 2vw;
    top: 12vh;
    width: 50vh;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    
}

.fail_header {
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border: none;
    text-align: center;
    color: white;
    animation-name: animatetop;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.progress-bar {
    height: 4px;
    background-color: rgb(241, 15, 7);
    margin-top: 10px;
    width: 100%;
    transition: width 7s linear; /* 7 seconds duration to match the fade-out */
}

@keyframes animatetop {
    from {top: -300px; opacity: 0;}
    to {top: 0; opacity: 1;}
}

@media (max-width: 768px){
    .fail_container {
        margin-left: 5vh;
        margin-right: 5vh;
        top: 11vh;

        
    }
}


/* Fade in and fade out animation */

