@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.about_section {
    margin: 0 auto; /* Center the section */
    padding: 0 7vw; /* Use padding to prevent overflow */
}

.about_section .data {
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.3vh;
}

.about_section .data h1 {
    margin-bottom: 2.5rem;
}

.about_section img {
    width: 260px;
    border-radius: 10px;
}

.about_container_main {
    margin-top: 8.5vh;
    display: flex;
    column-gap: 6vw;
}

.about_data .about_description {
    margin-top: 5vh;
}

.about_info {
    display: flex;
    column-gap: 3vw;
    justify-content: center;
    align-items: center;
}

.about_data a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.about_data .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_data button {
    padding: 0.4rem 0.6rem;
    color: #fff;
    border-radius: 2rem;
    padding: 1vh 2vh;
    column-gap: 0.5vh;
}

.about_box {
    border: 1.2px solid #6852ba;
    padding: 1.25rem 1.95rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 760px) {
    .about_section {
        margin-bottom: 2.5rem;
        padding: 0 3vw; /* Adjust padding to prevent overflow */
    }
    .about_container_main {
        flex-direction: column;
        align-items: center;
        column-gap: 2vw;
    }
    .about_section .about_subtitle {
        margin-left: auto;
        margin-right: auto;
    }
    .about_data .about_description {
        margin-top: 5vh;
    }
    .about_section img {
        width: 200px;
        border-radius: 10px;
    }
    .about_info {
        margin-top: 2vh;
        display: flex;
        justify-content: center;
    }
    .about_box {
        border: 1px solid #6852ba;
        padding: 0.2vh 0.5vw;
        border-radius: 10px;
        text-align: center;
    }
}

@media (max-width: 490px) {
    .about_section {
        margin-top: -2.5rem;
        padding: 0 3vw; /* Maintain consistent padding */
        margin-left: auto;
        margin-right: auto;
    }
    .about_info {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }
    .about_section .about_subtitle {
        margin-left: auto; /* Remove left margin */
    }
    .about_box {
        width: 90%; /* Ensure the box does not overflow */
        max-width: 35vw; /* Consider adjusting max-width to a percentage */
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 375px) {
    .about_section {
        padding: 0 3vw; /* Use padding to prevent overflow */
        margin-left: auto;
        margin-right: auto; /* Align center */
    }
}
