@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.about_section{
    margin: 5vh 6vh 0 6vh;
    
}


.about_section .data{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.3vh;
    /* margin-top: 2vh; */
}

.about_section img{
    width: 260px;
    border-radius: 10px;
    
}

.about_container_main{
    margin-top: 8.5vh;
    display: flex;
    column-gap: 5vw;

}

.about_data .about_description{
    margin-top: 5vh;
}

.about_info{
    display: flex;
    column-gap: 2vw;
}

.about_data a{
    text-decoration: none;
    color: black;
}

.about_box{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.95rem;
    border-radius: 10px;
    text-align: center;
    
   
}


@media screen and (max-width: 760px){
    .about_container_main{
        flex-direction: column;
        align-items: center;
    }
    .about_section img{
        width: 200px;
        border-radius: 10px;
        
    }
    .about_info{
        margin-top: 2vh;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 490px){
    .about_info{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        
    }
    .about_box{
        width: 35vw;
        margin-left: auto;
        margin-right: auto;
    }
}