.Project_section .pic .pic-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.Project_section .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 116px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 1vh 2vh;
}
.Project_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1.1vh;
    column-gap: 2vh;
}

.Project_content button{
    padding: 1vh 4vh;
    border-radius: 8px;
    margin-top: 1.3vh;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    transition: all 0.2s ease ;
}

.Project_section button a{
    text-decoration: none;
    color: #fff;
}


.Project_content h2{
    margin-top: 2.3vh;
}


.Project_section {
    border: 1px solid #6852ba;
    padding: 8vh 10vh;
    border-radius: 35px;
    margin: 0 2vh;
}

@media (max-width:1024){
    .Project_section .pic .pic-img{
        display: flex;
        margin-right: 10vh;
    }

    .Project_section button{
        padding: 0vh 0vh;
    }
}

@media (max-width:768px){
    .Project_section .pic .pic-img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-right: 10vh;
    }

    .Project_content h3{
        font-size: 1rem;
    }

    .Project_section button{
        font-size: 0.9rem;
        /* align-items: center; */
        padding: 0.9vh 0.5vh;
    }
}


@media (max-width:425px){
    .Project_section .pic .pic-img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-right: 1vh;
    }

    .Project_section{
        margin-right: 3vh;
    }
}

@media(max-width:375px){
    .Project_section .pic .pic-img{
        height: 15vh;
        width: 25vw;
        border-radius: 50%;
        margin-right: 11vh;
    }

}
