.work_experience_card {
    row-gap: 1vh;
    margin-top: 15vh;
    padding: 0 2vw; /* Add padding to handle margins on smaller screens */
}

.work_experience_card .head {
    text-align: center;
    margin-bottom: 4.5rem;
}

.work_experience_content {
    position: relative;
}

.work_experience_content .arrow_left,
.work_experience_content .arrow_right {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2vh 0.3vw;
    border: 1px solid #7e61e7;
    border-radius: 8px;
    position: absolute;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    color: #fff;
    top: 45%;
    z-index: 1000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow_left span,
.arrow_right span {
    font-size: 2rem;
    font-weight: 400;
}

.arrow_left {
    left: 1rem; /* Adjusted to be responsive */
}

.arrow_right {
    right: 1rem; /* Adjusted to be responsive */
}

.arrow_right:hover,
.arrow_left:hover {
    background-color: #7e61e7;
}

@media (max-width: 768px) {
    .work_experience_card .head {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 1024px) {
    .arrow_left {
        left: 2vw; /* Adjusted for better responsiveness */
    }
    .arrow_right {
        right: 2vw; /* Adjusted for better responsiveness */
    }
    .work_experience_card {
        margin-top: 10vh;
    }
}

@media (max-width: 375px) {
    .work_experience_card {
        margin: 0 1vh; /* Adjust margins to fit smaller screens */
    }
}
